@import "tailwindcss";

@font-face {
  font-family: "Manrope";
  src: url("/webfonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-mono: "Space Grotesk", monospace;

  --color-neon: #00ff9c;
  --color-neon-glow: rgba(0, 255, 156, 0.3);
  --color-neon-hover: rgba(6, 182, 212, 0.8);

  --color-emerald-primary: #10b981;
  --color-emerald-light: #34d399;
  --color-emerald-glow: rgba(16, 185, 129, 0.3);
  --color-emerald-badge-bg: rgba(6, 78, 59, 0.3);
  --color-emerald-badge-border: rgba(16, 185, 129, 0.2);

  --color-zinc-light: #e4e4e7;
  --color-zinc-muted: #a1a1aa;
  --color-zinc-deep: #27272a;
  --color-zinc-card: #18181b;
  --color-zinc-bg: #09090b;

  --color-brand-blue: #0077b5;
  --color-brand-cyan: #22d3ee;
  --color-brand-dark: #030305;
  --color-accent-red: #ff3b3b;
}

.container {
  @apply max-w-310 mx-auto px-8;
}
